@import "node_modules/bootstrap/scss/bootstrap";

.wrap {
    width: 600px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#already-have-account {
    margin-top: 10px;
    padding: 0;
    li {
        display: inline;
    }
}

.login-status {
    margin-top: 10px;
    text-align: right;
    font-size: small;
    color: gray;
    li {
        display: inline;
    }
    // #current-user {
        
    // }
    button {
        --bs-btn-padding-y: .25rem; 
        --bs-btn-padding-x: .5rem; 
        --bs-btn-font-size: .75rem;
    }
}

.friend-list {
    li {
        button{
            text-align: left;
        }
        list-style-type: none;
        margin-bottom: 10px;
    }
}

.message-area {
    display: flex;
    flex-direction: column;
    
    .message {
        margin-bottom: 15px;
    }

    .host-message {
        float: right;
    }

    .guest-message {
        float: left;
    }
    .badge {
        --bs-badge-font-size: 1.25em;
        --bs-badge-font-weight: 0;
    }
}

#message-input-form {
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;
    display: flex; 
    width: 600px;
    margin: auto;
    padding: 0.25rem;
    input {
        flex-grow: 1;
        border-radius: 0.5rem;
        padding: 0 1rem;
        margin-right: 0.25rem;
    }
}